body{
    background-color: #011627;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: grid;
    grid-auto-flow: column; /* Faz o alinhamento autômático do grid das colunas*/
    grid-auto-columns: 33vw;
    color: #ececec;

}

section{
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.botao{
    background-color: #00AAFF;
    margin: 10px 50px 10px 50px;
    color: #ececec;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 50px;
}

.botao:hover{
    background-color: #007fbe;
    cursor: pointer;
}
